@{
    ViewBag.Title = "Home Page";
   
}

<div class="jumbotron">

    <h1 style="text-align:center;font-family: 'Homemade Apple', cursive;
font-family: 'Neucha', cursive;">Aberdeen Primary Schools</h1>
      
    </div>

