<?xml version="1.0" encoding="utf-8" ?>

<appSettings>
  <add key="Uid" value="root" />
  <add key="Pwd" value="1234567" />
  <add key="dbName" value="accdatastore"/>
  <add key="dbHost" value="localhost" />
  <add key="dbPort" value="3306" />
  <add key="dbType" value="1" />
  <!--dbtype: 0,1 - default, 2 - MySQL, 3 - SQLite-->
 
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
