

<br />
<br />
<div style="text-align:center; border-style: ridge;  margin-left:30%; margin-right:30%; font-size:20px; border-radius:7px;">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">The email confirmation should be completed within an hour of registration.<br /> Please register again.</h2>
    </div>
