@*@{
    ViewBag.Title = "Confirm Email";
}*@
<br />
<br />
<br />
<h2 style="text-align:center">@ViewBag.Title.</h2>

    <div style="text-align:center; border-style: ridge;  margin-left:30%; margin-right:30%; font-size:20px; font-size:20px; border-radius:7px;">
        <p>
             Please click  <a href="@Url.Action("Index", "Login", new { area = "Login" })">here</a>
        </p>
    </div>