
<br />
<br />
<br />
<h2 style="text-align:center">@ViewBag.Title</h2>
<h3 style="text-align:center">@ViewBag.Message</h3>
<body>
<div style="text-align:center">
<address style="font-size:1.5000em;font-family: Times, Times New Roman, Georgia, serif;">
    Aberdeen City Council<br />
    Marischal College, Broad St, Aberdeen AB10 1AB<br />
    <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
    01224 522000
</address>

<address style="font-size:1.4000em;font-family: Times, Times New Roman, Georgia, serif;">
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d69256.03968120486!2d-2.125027727830754!3d57.14986223404946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4884122961122b69%3A0xa347540911e9e1a9!2sAberdeen+City+Council!5e0!3m2!1sbg!2suk!4v1498165713495"
          width="500" height="350" frameborder="0" style=" border-color: white; border-radius:15px; text-align:center;" allowfullscreen></iframe>
</div>
</body>